<!DOCTYPE html>
<html lang="en" data-selected-theme="dark">
<!-- data-selected-theme is een HTML attribute die de custom data zet van de site en lokaal opslaat -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="overview.css">
    <link rel="stylesheet" href="sdg.css">
    <title>S10 Enhanced Website</title>
</head>

<body>
    <div class="flex-container">
            <nav>
                <ul>
                    <li><a href="/" <% if ( current=='/' ) { %> class="active" <% }%>> Overview </a> </li>
                    <li><a href="/sdg" <% if ( current=='/sdg' ) { %> class="active" <% }%>> Clients </a> </li>
                    <li><a href="/stakeholder" <% if ( current=='/stakeholder' ) { %> class="active" <% }%>>Staff</a></li>
                    <li><a href="/score" <% if ( current=='/score' ) { %> class="active" <% }%>>Suppliers</a></li>
                    <li><a href="/environment">Environment</a></li>
                    <div class="dropdown">
                        <li><a href="#">Themes</a></li>
                        <script defer src="switch.js"></script>
                        <div class="dropdown-content theme-switcher">
                          <button data-theme="dark" aria-pressed="true" class="theme-btn">Dark</button>
                          <button data-theme="forest" aria-pressed="false" class="theme-btn">Forest</button>
                          <button data-theme="light" aria-pressed="false" class="theme-btn">Light</button>
                          <button data-theme="cherry" aria-pressed="false" class="theme-btn">Cherry</button>
                        </div>
                      </div>
                </ul>
            </nav>