<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>S10 Enhanced Website</title>
</head>

<body>
    <div class="flex-container">
    <header>
        <h1><span>Crossmar</span>X</h1>
        <nav>
            <ul>
                <li><a href="/">Overview</a></li>
                <li><a href="/sdg">Clients</a></li>
                <li><a href="#">Staff</a></li>
                <li><a href="#">Suppliers</a></li>
                <li><a href="#">Environment</a></li>

                <div class="bottom-aligned">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Logout</a></li>
                    <label class="switch">
                        <script defer src="switch.js"></script>
                        <input type="checkbox"  class="lightswitch">
                        <span class="slider round"></span>
                    </label>
                </div>
            </ul>
        </nav>
    </header>