<%- include('partials/head')%>
<main class="overview-grid">
    <link rel="stylesheet" href="overview.css">
<article class="stakeholder Clients">
a
</article>
<article class="stakeholder Staff">
a
</article>
<article class="stakeholder Suppliers">
a
</article>
<article class="stakeholder Environment">
a
</article>
<section class="overview">
</section>
<article class="update">
   <h4>Latest Updates</h4>
</article>
</main>
</div>
</body>
</html>