<%- include('partials/head', {current:'/stakeholder'});%>
<section class="flex">
    <h2> <%= company.name%> </h2>
    <form method="POST" action="/">
        <input type="hidden" name="companiesData" value="2">
        <fieldset class="type-selector">
            <legend>Select a stakeholder type</legend>
            <input type="radio" id="staff" name="staff">
            <label for="staff"> Staff </label>
            <input type="radio" id="supplier" name="supplier">
            <label for="supplier"> Suppliers </label>
            <input type="radio" id="client" name="client">
            <label for="client"> Clients </label>
            <input type="radio" id="environment" name="environment">
            <label for="environment"> Environment </label>
        </fieldset>
        <div class="wrapper">
            <label for="name">Name</label>
            <textarea name="message" id="name" required placeholder="Type the name of your stakeholder here"></textarea>
            <div> <button type="submit">Save stakeholder</button> </div>
        </div>
    </form>
</section>
</div>