header {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: var(--sec);
    width: 15dvw;
    height: 100dvh;

    & h1 {
        padding-top: 1em;
        padding-bottom: 1.5em;
        text-align: center;

        & span {
            color: greenyellow;
        }
    }
}

nav {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 3em;
    list-style-type: none;
}

li a {
    display: block;
    padding: 0 24px;
    color: var(--text);
    text-decoration: none;
}

li a:hover {
    background-color: var(--accent);
    color: var(--bg);
}

.bottom-aligned {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: auto;
}

.active {
    background-color: var(--accent);
    color: black;
}