.flex-container{ display: flex; }
.overview-grid{
    grid-gap: 32px;
    display: grid;
    grid-template-rows: 25px 270px 450px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "title title title title" "company company company update" "overview overview overview update";
    margin-bottom: 36px;
    margin-inline: 36px;
    padding: 18px;
    width: 80dvw;
    max-height: 100dvh;
}

.page-title{
    grid-area: title;
    margin-block: .2em;
    font-size: 2em;
    letter-spacing: .1em;
}

.company{
    position: relative;
    grid-area: company;
    box-shadow: 4px 4px 16px 0px var(--sec);
    border-radius: 16px;
    background-color: var(--sec) ;
    padding: 32px;
}

.btn{
    position: absolute;
    right: 1em;
    box-shadow: 2px 2px 4px 0px var(--accent-light);
    border-radius: 12px;
    background-color:var(--accent-light);
    padding: .35em;
    width: fit-content;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    &:hover{ transform: scale(1.02); transition: all .3s ease-out; }
}

.overview{
    grid-area: overview;
    box-shadow: 4px 4px 16px 0px var(--prim);
    border-radius: 16px;
    background-color: var(--prim);
    padding: 32px;
    color: var(--text);
}

.update{
    grid-area: update;
    box-shadow: 4px 4px 16px 0px var(--sec);
    border-radius: 16px;
    background-color: var(--sec);
    padding: 32px;
    & .update-item{ display: block; border-top: 1px solid var(--accent-light); padding: .25em; line-height: 24px;}
}

.flex{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.type-selector{
    margin: .25em;
    border: 2px solid var(--prim);
    border-radius: 12px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin: 1em;
}

.stakeholder{
    display: flex;
    flex-direction: row;
    margin: 1em;
    border-top: 1px solid var(--prim-light);
    padding: 1em;
    width: 85dvw;

    & .stakeholder-personalia{ 
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: .5em;
        width: 20%;
        & h3{ margin: .15em; }
        & p{ margin: .1em; }
        & .stakeholder-avatar{ box-shadow:  4px 4px 16px 4px var(--prim); border-radius: 12em; width: 125px;  height: 125px;}
    }
    & .stakeholder-info{
        display: flex;
        flex-direction: column;
        margin:.25em;
        & .stakeholder-sdg-list{
            display: flex; 
            flex-direction: row;
            margin-top:.25em;
            padding: .25em;
            & img{ margin: .25em; }
        }
    }
}