.flex-container{
    display: flex;
}
.overview-grid{
    display: grid;
    width: 80dvw;
    margin-inline: auto;
    margin-block: 36px;
    grid-template-areas: "Clients Staff Suppliers Environment" "overview overview overview update" "overview overview overview update";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 36px;
    padding: 16px;
}

.stakeholder{
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    padding: 32px;
    background-color: var(--secondary-color) ;
}

.overview{
    grid-area: overview;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    padding: 32px;
    background-color: var(--secondary-color);
}

.update{
    grid-area: update;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
    padding: 32px;
    background-color: var(--secondary-color);
}