.flex-container{
    display: flex;
}
.overview-grid{
    display: grid;
    width: 85dvw;
    margin: 36px;
    grid-template-areas: "title title title title" "Clients Staff Suppliers Environment" "overview overview overview update";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: .2fr 1fr 1.5fr;
    grid-gap: 24px;
    padding: 16px;
}

.page-title{
    grid-area: title;
    letter-spacing: .1em;
    font-size: 2em;
    margin-block: .2em;
}

.stakeholder{
    border: 2px solid var(--sec);
    border-radius: 16px;
    padding: 32px;
    background-color: var(--sec) ;
}

.overview{
    grid-area: overview;
    border-radius: 16px;
    padding: 32px;
    background-color: var(--accent-color-2);
}

.update{
    grid-area: update;
    border: 2px solid var(--sec);
    border-radius: 16px;
    padding: 32px;
    background-color: var(--sec);
}