#count { text-align: center; }

.sdg-container {
    display: block;
    margin: auto;
    max-width: 55vw;
    font-size: 2em;
    & form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        & label{
            width: 170px;
            height: 170px;
        }
    }
}

.checkbox { opacity: 0; }

.sdg-img {
    width: 160px;
    height: 160px;
}

input:checked+.sdg, .sdg:hover {
    border: 8px solid var(--accent);
    background-color: var(--accent);
}

.submit-btn {
    display: block;
    margin-top: 1em;
    border: 0;
    border-radius: 12px;
    background-color: var(--accent);
    padding: .75em;
    width: 250px;
    height: 42px;
    color: var(--text);
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.score-container {
    margin: 1em;
    padding: 2em;
    & article {
        display: flex;
        flex-direction: column;
        & picture {
            display: flex;
            justify-content: center;
            & img { border-radius: 5px; }
            & form {
                display: flex;
                flex-direction: column;
            }
        }
    }
}