#count { text-align: center; }

.sdg-container {
    display: block;
    margin: auto;
    max-width: 50vw;
    & form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        width: 100%;
    }
}

.score-container {
    margin: 1em;
    padding: 2em;
    & article {
        display: flex;
        flex-direction: column;
        & picture {
            display: flex;
            justify-content: center;
            & img { border-radius: 5px; }
            & form {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.checkbox { opacity: 0; }

.sdg-img {
    margin: .2em .2em;
    width: 175px;
    height: 175px;
}

input:checked+.sdg, .sdg:hover {
    border: 8px solid var(--prim);
    background-color: var(--prim);
}

.submit-btn {
    display: block;
    border: 0;
    border-radius: 12px;
    background-color: var(--sec-light);
    padding: .75em;
    margin: auto;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    &:hover { background-color: var(--sec); }
}