@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('nav.css');

:root {
    --bg-color: #272727;
    --text-color: #F9F7F7;
    --primary-color: #6E9075;
    --secondary-color: #5CF64A;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    margin: 0;
    padding-block: 1em;
    color: var(--secondary-color);
}

h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: var(--secondary-color);
}